:root {
    --border: 5px solid white;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    background-color: black;
}

.main-container {
    height: 159px;
    width: 160px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: var(--border);
    border-radius: 20px;
}

.first-row, .second-row, .third-row {
    display: flex;
    justify-content: space-around;
}

.first-row {
    border-bottom: var(--border);
}

.second-row {
    border-bottom: var(--border);
}

.one {
    border-right: var(--border);
}

.three {
    border-left: var(--border);
}

.box {
    display: inline;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    user-select: none;
}   

#player {
    width: 200px;
    height: 60px;
    position: absolute;
    top: -220px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}